<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">项目申请</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="register span6">
            <form action="" method="post">
                <h2>烟基项目<span style="color: #3c8dbc;"><strong>申请</strong></span></h2>

                <label for="firstname">项目类型</label>
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <select class="form-control select2 select2-hidden-accessible item_type">
                    <option value="1"　selected="selected">烟水烟路</option>
                    <option value="2">烤房</option>
                    <option value="3">育苗设施建设</option>
                    <option value="4">烟用机械</option>
                    <option value="5">土地整理</option>
                    <option value="6">烤房设备更换</option>
                  </select>
                </div>
                <br>
                <br>
                <!-- <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin1" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin2" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin3" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin4" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin5" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div id="ysyl">
                  <label for="lastname">县名称</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写县名称">
                  <label for="lastname">(乡)镇名称</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写县名称">
                  <label for="lastname">村（或合作社）名称</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写县名称">
                  <!-- <label for="lastname">项目地点</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写项目区"> -->
                  <label for="lastname">项目数量</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写项目数量">
                  <label for="lastname">建设总资金</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写建设补贴资金">
                  <label for="lastname">投工投劳数</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写投工投劳数">
                  <label for="lastname">投工投劳资金</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写投工投劳资金">
                  <label for="lastname">自筹资金</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写自筹资金">
                  <label for="lastname">申请烟草补贴资金</label>
                  <input type="text" id="lastname" name="lastname" placeholder="请填写烟草补贴资金">
                  <label for="lastname">本村受益烟农代表</label>
                  <br>
                  <input type="text" id="lastname" style="width:155px;height:30px;"　name="lastname" placeholder="请填写村代表名称">　、
                  <input type="text" id="lastname" style="width:155px;height:30px;"　name="lastname" placeholder="请填写村代表名称">　、
                  <input type="text" id="lastname" style="width:155px;height:30px;"　name="lastname" placeholder="请填写村代表名称">　、
                  <input type="text" id="lastname" style="width:155px;height:30px;"　name="lastname" placeholder="请填写村代表名称">
                </div>
                
                <button class="save-button" type="submit">生成项目申请文档</button>
                <button class="submit-button" type="submit">提交</button>
            </form>
        </div>
      </div>
    </div>
  </section>
<% end %>