<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="#"><i class="fa fa-dashboard"></i> 首页 </a></li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="row">
      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">现代烟草农业烟叶生产基础设施建设简介</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div id="accordion" class="box-group">
              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                      指导思想
                    </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                  <div class="box-body">
                    以科学发展观为指导，贯彻落实中央关于“以工哺农、以城带乡”的方针政策，根据“一基四化”的总体要求，按照“整县推进、单元实施”的工作思路，以提高烟叶生产综合能力为目标，以机制体制创新为突破，大规模推进中低产田改造，高标准配套基础设施建设，全方面转变烟叶生产组织形式、管理模式和工商合作机制，高起点建立专业化服务体系，标准化组织烟叶生产，促进农业农村经济发展和农民增收，探索出一条符合当前生产力发展水平的现代烟草农业建设路子。
                  </div>
                </div>
              </div>
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
                      目标任务
                    </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse　in" id="collapseTwo">
                  <div class="box-body">
                    全面完善烟水工程、机耕路、密集烤房、农机具、育苗设施、防雹网络、烟叶工作站设施等方面的综合配套，努力在生产组织形式创新、专业化服务体系建设、基层改革和工商基地建设等方面取得新的突破，进一步改善示范区生产条件，提高烟叶生产组织化程度和管理水平，实现原料供应基地化、烟叶品质特色化、生产方式现代化，努力推动原料保障上水平。
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-6">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">烟基建设图片</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
              <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="1" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="3" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="4" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="5" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="6" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="7" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="8" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="9" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="10" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="11" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="12" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="13" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="14" data-target="#carousel-example-generic"></li>
                <li class="" data-slide-to="15" data-target="#carousel-example-generic"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img alt="First slide" style="width:900px;height:350px;" src="/img/1.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Second slide" style="width:900px;height:350px;" src="/img/2.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/3.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/4.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/5.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/6.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/7.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/8.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/9.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/10.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/11.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/12.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/13.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/14.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
                <div class="item">
                  <img alt="Third slide" style="width:900px;height:350px;" src="/img/15.jpg">

                  <div class="carousel-caption">
                    
                  </div>
                </div>
              </div>
              <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
                <span class="fa fa-angle-left"></span>
              </a>
              <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
                <span class="fa fa-angle-right"></span>
              </a>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
<% end %>