<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">项目移交</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">村</h3>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked list">
              <li class="active"><a href="#" class="count">一号村</a></li>
              <li><a href="#" class="count 1">二号村</a></li>
              <li><a href="#" class="count 2">三号村</a></li>
              <li><a href="#" class="count 3">四号村</a></li>
              <li><a href="#" class="count 4">五号村</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-10" style="padding-left:0">
        <div class="box box-widget">
          
          <div class="box-body">
            <button class="btn btn-default edit_publicity">上传项目移交书</button>
            <button class="btn btn-default edit_publicity">上传资料移交书</button>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          
          <div class="box-body">
            <button class="btn btn-default edit_publicity">上传项目移交书</button>
            <button class="btn btn-default edit_publicity">上传资料移交书</button>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          
          <div class="box-body">
            <button class="btn btn-default edit_publicity">上传项目移交书</button>
            <button class="btn btn-default edit_publicity">上传资料移交书</button>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          
          <div class="box-body">
            <button class="btn btn-default edit_publicity">上传项目移交书</button>
            <button class="btn btn-default edit_publicity">上传资料移交书</button>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          
          <div class="box-body">
            <button class="btn btn-default edit_publicity">上传项目移交书</button>
            <button class="btn btn-default edit_publicity">上传资料移交书</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
<% end %>