<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">项目竣工详细档案</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div style="margin-top:50px;height:300px;" class="box">
          <div style="width:50%;margin:120px auto;">
            <div style="width: 150px;" class="btn btn-primary btn-file">上传竣工验收表<input type="file"></div>
            <div style="width: 160px;margin-left: 10px;" class="btn btn-primary btn-file">上传项目竣工详细档案<input type="file"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content content2" style="display: none">
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">村</h3>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked list">
              <li class="active"><a href="#" class="count">宁远县</a></li>
              <li><a href="#" class="count 1">江华县</a></li>
              <li><a href="#" class="count 2">永江县</a></li>
              <li><a href="#" class="count 3">道县</a></li>
              <li><a href="#" class="count 4">蓝山县</a></li>
              <li><a href="#" class="count 5">新田县</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-10" style="padding-left:0">
        <div class="box box-widget BOX">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">宁远县验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">永江县验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">道县验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">蓝山县验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">新田县验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">江华县验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>

        
      </div>
    </div>
  </section> 

  <section class="content content3" style="display: none">
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">村</h3>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked list">
              <li class="active"><a href="#" class="count">长沙市</a></li>
              <li><a href="#" class="count 1">郴州市</a></li>
              <li><a href="#" class="count 2">永州市</a></li>
              <li><a href="#" class="count 3">衡阳市</a></li>
              <li><a href="#" class="count 4">常德市</a></li>
              <li><a href="#" class="count 5">邵阳市</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-10" style="padding-left:0">
        <div class="box box-widget BOX">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">长沙市验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">郴州市验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">永州市验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">衡阳市验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">常德市验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="box box-widget BOX" style="display: none">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">邵阳市验收申请</h4></div>
          </div>
          <div class="box-body">
            <div class="box box-widget xls">
              <div class="box-body">
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">竣工验收表</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <ol class="breadcrumb" style="font-size:medium;">
                      <li class="active">项目竣工详细档案</li>
                  </ol>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>

        
      </div>
    </div>
  </section> 
  
<% end %>