<div id="Main">
  <%= form_tag("/login", method: :post) do -%>
    <input name="company_id" style="margin-top:-50px;" type="text" value="请输入公司代码" onfocus="if (value =='请输入公司代码'){value =''}" onblur="if (value ==''){value='请输入公司代码'}"/>
    <input name="number" style="margin-top:10px;" type="text" value="请输入工号" onfocus="if (value =='请输入工号'){value =''}" onblur="if (value ==''){value='请输入工号'}"/>
    <input name="password" style="margin-top:10px;" type="text" value="请输入密码" onfocus="if (value =='请输入密码'){type='password';value =''}" onblur="if (value ==''){value='请输入密码';type='text'}"/>
    <button id="login" style="margin-top:20px;" type="submit">登录</button>
    <% if alert %>
    <p class="login-box-msg"><%= alert %></p>
    <% end %>
  <% end %>
</div>
<div id="ToolBar">
  
</div>
<script type="text/javascript">
var isChrome = window.navigator.userAgent.indexOf("Chrome") !== -1;
  if (isChrome) {
      document.getElementById('login').style.padding = "1px 0"
  } 
</script>