<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">招投标综合资料上传</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box" style="margin-top:40px;height:300px;">
          <div style="width:50%;margin:100px auto;">
            <div class="btn btn-primary btn-file" style="width: 150px;">上传投标公示<input type="file"></div>
            <div class="btn btn-primary btn-file" style="width: 150px;margin-left: 10px;">上传中标公示<input type="file"></div>
            <div class="btn btn-primary btn-file" style="width: 150px;margin-top:20px;">上传中标通知书<input type="file"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
<% end %>