<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">县级审核</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">村</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked list">
                <li class="active"><a href="#" class="count">一号村</a></li>
                <li><a href="#" class="count 1">二号村</a></li>
                <li><a href="#" class="count 2">三号村</a></li>
                <li><a href="#" class="count 3">四号村</a></li>
                <li><a href="#" class="count 4">五号村</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="btn btn-default btn-file">
            <i class="fa fa-paperclip"></i> 规划设计书上传
            <input type="file" name="attachment">
          </div>
          <div class="btn btn-default btn-file" style="margin-top:10px;">
            <i class="fa fa-paperclip"></i> 勘量选点报告书上传
            <input type="file" name="attachment">
          </div>
        </div>
        <div class="col-md-10" style="padding-left:0">
          <div class="box box-widget">
            <div class="box-title">
              <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">一号村项目申报统计</h4></div>
            </div>
            <div class="box-body">
              <table class="table table-striped table-hover" id="tTrolleys">
                <thead>
                  <tr style="border-bottom:1px solid gray;">
                    <th>项目编号</th>
                    <th>项目类型</th>
                    <th>申请日期</th>
                    <!-- <th>选点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规划设计</th>
                    <th></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <div class="box box-widget" style="display: none;">
            <div class="box-title">
              <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">二号村项目申报统计</h4></div>
            </div>
            <div class="box-body">
              <table class="table table-striped table-hover" id="tTrolleys2">
                <thead>
                  <tr style="border-bottom:1px solid gray;">
                    <th>项目编号</th>
                    <th>项目类型</th>
                    <th>申请日期</th>
                    <!-- <th>选点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规划设计</th>
                    <th></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <div class="box box-widget" style="display: none;">
            <div class="box-title">
              <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">三号村项目申报统计</h4></div>
            </div>
            <div class="box-body">
              <table class="table table-striped table-hover" id="tTrolleys3">
                <thead>
                  <tr style="border-bottom:1px solid gray;">
                    <th>项目编号</th>
                    <th>项目类型</th>
                    <th>申请日期</th>
                    <!-- <th>选点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规划设计</th>
                    <th></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <div class="box box-widget" style="display: none;">
            <div class="box-title">
              <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">四号村项目申报统计</h4></div>
            </div>
            <div class="box-body">
              <table class="table table-striped table-hover" id="tTrolleys4">
                <thead>
                  <tr style="border-bottom:1px solid gray;">
                    <th>项目编号</th>
                    <th>项目类型</th>
                    <th>申请日期</th>
                    <!-- <th>选点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规划设计</th>
                    <th></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>

          <div class="box box-widget" style="display: none;">
            <div class="box-title">
              <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">五号村项目申报统计</h4></div>
            </div>
            <div class="box-body">
              <table class="table table-striped table-hover" id="tTrolleys5">
                <thead>
                  <tr style="border-bottom:1px solid gray;">
                    <th>项目编号</th>
                    <th>项目类型</th>
                    <th>申请日期</th>
                    <!-- <th>选点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fw fa-long-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;规划设计</th>
                    <th></th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        
      </div>

      <div class="col-md-12">
          <div class="box">
            <div class="box-title">
              <div style="margin: 0 auto;width: 200px;"><h4 style="width: 200px;text-align: center">江华县</h4></div>
            </div>
            <div class="box-body">
              <div style="width:100%;height:100px;padding-top: 20px;">
                <div style="width:80%;height:100px;margin: 0 auto;text-align: center;">
                  <div>
                    <button class="btn btn-primary btn-lg xls_info" style="width:300px;float:left" type="button">查看报表信息</button>
                    <button class="btn btn-primary btn-lg doc_info" style="width:300px;float: right" type="button">查看文档</button>
                  </div>
                </div>
              </div>

              <div class="suggest">
                <div style="margin: 0 auto;width: 200px;"><h4 style="width: 200px;text-align: center">各部门审核意见</h4></div>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>部门</th>
                      <th>意见内容</th>
                    </tr>
                    <tr>
                      <td>1.</td>
                      <td>财务部门意见</td>
                      <td>
                        江华县某某村烟路项目金额过多
                      </td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>二号部门意见</td>
                      <td>
                        江华县某某村烟路项目金额过多
                      </td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>三号部门意见</td>
                      <td>
                        江华县某某村烟路项目金额过多
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="doc" style="width:100%;height:300px;display:none">
                <div style="width:20%;height:300px;margin: 0 auto;text-align: center;">文档信息</div>
              </div>
              <div class="box box-widget xls" style="display: none">
                <div class="box-body">
                  <table class="table table-striped table-hover" id="tTrolleys">
                    <div style="margin: 0 auto;width: 200px;"><h4 style="width: 200px;text-align: center">江华县申报表</h4></div>
                    <thead>
                      <tr style="border-bottom:1px solid gray;">
                        <th rowspan="2">项目名称</th>

                        <th>数量</th>
                        <th>容量</th>
                        <th>长度</th>
                        <th>受益农户</th>
                        <th style="width: 70px">项目总造价</th>
                        <th style="width: 90px">烟草行业补贴标准</th>
                        <th style="width: 110px">需烟草行业投入资金总额</th>
                        <th style="width: 130px">其中:省内烟草行业配套资金总额</th>
                        <th>其中:国家局补助总额</th>
                        <th>2010年受益基本烟田面积</th>
                      </tr>
                      <tr>
                        <th>个／条／座</th>
                        <th>立方米</th>
                        <th>千米</th>
                        <th>万户</th>
                        <th>万元</th>
                        <th>...</th>
                        <th>万元</th>
                        <th>万元</th>
                        <th>万元</th>
                        <th>万亩</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="font-weight: bold;">
                        <td>合计</td>
                        <td class="inputTd">0</td>
                        <td class="inputTd">0</td>
                        <td class="inputTd">0.000</td>
                        <td class="inputTd">0.0000</td>
                        <td class="inputTd">0</td>
                        <td class="inputTd">2000元/亩</td>
                        <td class="inputTd">0.00</td>
                        <td class="inputTd">0.00</td>
                        <td class="inputTd">0.00</td>
                        <td class="inputTd">0.0000</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>一、烟水配套工程</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>...</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>1、水  窖</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>2、水  池</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>3、机  井</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>4、小塘坝整治工程</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>5、沟  渠</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>其中：主干渠</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>支渠</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>排洪渠</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>6、管  网</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>7、提灌站工程</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>800元／亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>二、烟叶调制设施</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>...</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>1、2.7×8米以上新建密集式烤房群</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>国家局补贴1.5万元/座,市公司配套按文件确定</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>  2、烘烤工场附属设施</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>50万元/处</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>三、机耕路</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>300元/亩,10-15万元/公里</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>1、机耕路</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>...</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>四、烟用机械</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>...</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>1、通用机械</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>200元/亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>2、专用机械</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>200元/亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>五、育苗大棚</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>260元/亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr>
                        <td>1、育苗大棚</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>400元/亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>六、其它</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.000</td>
                        <td>0.0000</td>
                        <td>0</td>
                        <td>200元/亩</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.0000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box-footer">
                    <button style="margin-left: 800px;width: 100px;" class="btn btn-success pass">通过</button>
                    <button style="margin-left: 20px;width: 100px;" class="btn btn-danger nopass">不通过</button>
                    <button style="margin-left:20px;width: 100px;" class="btn btn-info">存至本地</button>
                </div>
              </div>
              
            </div>
            <div class="box-footer">

              

            </div>
          </div>
      </div>
    </div>
  </section>

  <div id="suggests" class="modal modal-primary">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">部门意见</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>部门意见</label>
            <textarea placeholder="请输入该部门的意见 ..." rows="3" class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-outline pull-right" type="button">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- <div id="details" class="modal fade in" >
    <div class="modal-dialog" >
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" style="margin-left:200px;">项目申请公示</h4>
        </div>
        <div class="modal-body" style="font-size:15px;">
          <p><span style="float: left;"><u>***</u> 乡（镇） <u>***</u> 村民委员会：</span></p>
          <p style="line-height:30px;text-indent:2em;float: left;">我县烟草部门和烟叶基础办已受理 <u>***</u> 乡（镇）　<u>***</u>　村 <u>***</u> 村民小组烟农提出的关于 <u>***</u> 年度项目区内现代烟草农业基础设施建设项目的申请，其中水池 <u>***</u> 个（　<u>***</u>　立方米），水窖　<u>***</u> 个（ <u>***</u>　立方米），机（水）井　<u>***</u>　个(投资　<u>***</u>　万元)，沟渠　<u>***</u>　条( <u>***</u> 公里)，塘坝整治 <u>***</u>　处(投资 <u>***</u>　万元)，管网　<u>***</u>　处(　<u>***</u>　公里), 提灌站<u>***</u> 个(投资　<u>***</u>　万元)，机耕道路 <u>***</u> 条 <u>***</u> 公里。共需投入建设资金概算　<u>***</u>　万元，其中建设资金　<u>***</u>　万元由烟草部门按照行业有关政策给予补贴，申请项目详细情况见下表，特此公示。对不实、重复上报或虚报项目，欢迎检举揭发。</p>
          <p>举报电话：</p>
          <p>附件：项目申请明细表</p>                      
          <p><span style="margin-left:450px;">县烟叶基础办</span></p>
          <p><span style="margin-left:450px;">年 <u>***</u> 月 <u>***</u> 日</span></p>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default pull-right" type="button">关闭</button>
        </div>
      </div>
      /.modal-content
    </div>
    /.modal-dialog
  </div>
  <div id="check_choose_point" class="modal fade in" style="background-color: ">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" style="margin-left:200px;">选点报告书</h4>
        </div>
        <div class="modal-body" style="font-size:15px;">
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">项目建设规模</label>
                <input type="text" disabled="disabled" placeholder="填写项目建设规模" value="*********" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">建设地点</label>
                <input type="text" disabled="disabled" placeholder="填写建设地点" value="*********" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">主要建设内容</label>
                <textarea type="text" disabled="disabled" placeholder="填写主要建设内容" id="exampleInputPassword1" class="form-control">***********</textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">投资资金来源</label>
                <input type="text" disabled="disabled" placeholder="填写投资资金来源" value="*********" id="exampleInputPassword1" class="form-control">
              </div>
            </div>
            /.box-body
  
            <div class="box-footer">
              <a class="btn btn-primary edit">编辑</a>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default pull-right" type="button">关闭</button>
        </div>
      </div>
      /.modal-content
    </div>
    /.modal-dialog
  </div>
  <div id="edit_choose_point" class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" style="margin-left:200px;">编辑选点报告书</h4>
        </div>
        <div class="modal-body" style="font-size:15px;">
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">项目建设规模</label>
                <input type="email" placeholder="填写项目建设规模" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">建设地点</label>
                <input type="password" placeholder="填写建设地点" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">主要建设内容</label>
                <textarea type="password" placeholder="填写主要建设内容" id="exampleInputPassword1" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">投资资金来源</label>
                <input type="password" placeholder="填写投资资金来源" id="exampleInputPassword1" class="form-control">
              </div>
            </div>
            /.box-body
  
            <div class="box-footer">
              <button class="btn btn-success" >提交</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default pull-right" type="button">关闭</button>
        </div>
      </div>
      /.modal-content
    </div>
    /.modal-dialog
  </div>
  <div id="check_design" class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" style="margin-left:200px;">项目设计书</h4>
        </div>
        <div class="modal-body" style="font-size:15px;">
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">项目名称</label>
                <input type="email" disabled="disabled" placeholder="********" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">组织实施机构</label>
                <input type="password" disabled="disabled" placeholder="********" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">建设位置</label>
                <input type="password" disabled="disabled" placeholder="********" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">建设总规模</label>
                <input type="password" disabled="disabled" placeholder="********" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">总投资</label>
                <input type="password" disabled="disabled" placeholder="********" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">建设工期</label>
                <input type="password" disabled="disabled" placeholder="********" id="exampleInputPassword1" class="form-control">
              </div>
            </div>
            /.box-body
  
            <div class="box-footer">
              <button class="btn btn-primary edit">编辑</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default pull-right" type="button">关闭</button>
        </div>
      </div>
      /.modal-content
    </div>
    /.modal-dialog
  </div>
  <div id="edit_design" class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 5px;">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" style="margin-left:200px;">编辑项目设计书</h4>
        </div>
        <div class="modal-body" style="font-size:15px;">
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">项目名称</label>
                <input type="email" placeholder="填写项目名称" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">组织实施机构</label>
                <input type="password" placeholder="填写组织实施机构" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">建设位置</label>
                <input type="password" placeholder="填写建设位置" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">建设总规模</label>
                <input type="password" placeholder="填写建设总规模" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">总投资</label>
                <input type="password" placeholder="填写总投资" id="exampleInputPassword1" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">建设工期</label>
                <input type="password" placeholder="填写建设工期" id="exampleInputPassword1" class="form-control">
              </div>
            </div>
            /.box-body
  
            <div class="box-footer">
              <button class="btn btn-success" >提交</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default pull-right" type="button">关闭</button>
        </div>
      </div>
      /.modal-content
    </div>
    /.modal-dialog
  </div> -->
<% end %>