<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">报废项目申请</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="register span6">
            <form action="" method="post">
                <h2>烟基项目<span style="color: #3c8dbc;"><strong>报废申请</strong></span></h2>
                <label for="firstname">项目类型</label>
                <select class="form-control select2 select2-hidden-accessible item_type">
                  <option value="1"　selected="selected">烟水烟路</option>
                  <option value="2">密集烤房</option>
                  <option value="3">育苗设施建设</option>
                  <option value="4">烟用机械</option>
                  <option value="5">土地整理</option>
                </select>
                <br>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin1" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin2" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin3" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin4" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-1">******</div>
                    <div class="col-md-2">
                      <div class="input-group spinner spin5" style="margin-left: 20px;">
                        <input type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <label for="lastname">项目数量</label>
                <input type="text" id="lastname" name="lastname" placeholder="请填写项目数量">
                <label for="username">建造性质</label>
                <input type="text" id="username" name="username" placeholder="请填写建造性质">
                <label for="email">乡(镇)</label>
                <input type="text" id="email" name="email" placeholder="请填写乡(镇)">
                <label for="email">村(组)</label>
                <input type="text" id="email" name="email" placeholder="请填写村(组)">
                <label for="password">受益农户(户)</label>
                <input type="password" id="password" name="password" placeholder="请填写受益农户数">
                <label for="password">受益面积(亩)</label>
                <input type="password" id="password" name="password" placeholder="请填写受益面积大小">
                <label for="password">补贴资金(元)</label>
                <input type="password" id="password" name="password" placeholder="请填写补贴金额数">
                <label for="password">自筹资金(元)</label>
                <input type="password" id="password" name="password" placeholder="请填写自筹资金">
                <label for="password">基本单位名称</label>
                <input type="password" id="password" name="password" placeholder="请填写基本单位名称">
                <label for="password">报废原因</label>
                <input class="textarea" type="textarea" id="password" name="password" placeholder="请填写报废原因"　style="height:100px;">
                <button class="save-button" type="submit">保存</button>
                <button class="submit-button" type="submit">提交</button>
            </form>
        </div>
      </div>
    </div>
  </section>
<% end %>