<% content_for :header do %>
  <p id="code" style="display:none"><%= session[:company_id]%></p>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">申请公示</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" style="margin-top:-25px;" >
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">村</h3>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked list">
              <li class="active"><a href="#" class="count">一号村</a></li>
              <li><a href="#" class="count 1">二号村</a></li>
              <li><a href="#" class="count 2">三号村</a></li>
              <li><a href="#" class="count 3">四号村</a></li>
              <li><a href="#" class="count 4">五号村</a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-10" style="padding-left:0">
        <div class="box box-widget">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">一号村项目申报统计</h4></div>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys">
              <thead>
                <tr style="border-bottom:1px solid gray;">
                  <th>项目编号</th>
                  <th>项目类型</th>
                  <th>总金额</th>
                  <th>补贴金额</th>
                  <th>申请日期</th>
                  <th>状态</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">二号村项目申报统计</h4></div>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys1">
              <thead>
                <tr style="border-bottom:1px solid gray;">
                  <th>项目编号</th>
                  <th>项目类型</th>
                  <th>总金额</th>
                  <th>补贴金额</th>
                  <th>申请日期</th>
                  <th>状态</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">三号村项目申报统计</h4></div>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys2">
              <thead>
                <tr style="border-bottom:1px solid gray;">
                  <th>项目编号</th>
                  <th>项目类型</th>
                  <th>总金额</th>
                  <th>补贴金额</th>
                  <th>申请日期</th>
                  <th>状态</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">四号村项目申报统计</h4></div>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys3">
              <thead>
                <tr style="border-bottom:1px solid gray;">
                  <th>项目编号</th>
                  <th>项目类型</th>
                  <th>总金额</th>
                  <th>补贴金额</th>
                  <th>申请日期</th>
                  <th>状态</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="box box-widget" style="display: none;">
          <div class="box-title">
            <div style="margin: 0 auto;width: 200px;"><h4 style="margin:0 0;padding-top:30px;width: 200px;text-align: center">五号村项目申报统计</h4></div>
          </div>
          <div class="box-body">
            <table class="table table-striped table-hover" id="tTrolleys4">
              <thead>
                <tr style="border-bottom:1px solid gray;">
                  <th>项目编号</th>
                  <th>项目类型</th>
                  <th>总金额</th>
                  <th>补贴金额</th>
                  <th>申请日期</th>
                  <th>状态</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div id="edit_publicity" class="modal fade in">
    <div class="modal-dialog">
      <div class="box box-primary box-solid">
          <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="ion ion-clipboard"></i>

            <h3 class="box-title">申请公示材料信息</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-md-3" style="padding:5px 5px;border:1px dashed #3c8dbc;border-radius:5px;">
              <div class="col-md-12" style="padding:0 0;">
                <label for="exampleInputEmail1">县名称</label>
                <input type="email" placeholder="填写县名称" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">乡(镇)名称</label>
                <input type="email" placeholder="填写乡(镇)名称" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">村名称</label>
                <input type="email" placeholder="填写村名称" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">村名小组名称</label>
                <input type="email" placeholder="填写小组名称" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">年度</label>
                <input type="email" placeholder="填写年度" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">项目区名称</label>
                <input type="email" placeholder="填写项目区名称" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">年份</label>
                <input type="email" placeholder="请填写年份" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">月份</label>
                <input type="email" placeholder="请填写月份" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                <label for="exampleInputEmail1">日期</label>
                <input type="email" placeholder="请填写日期" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                
              </div>
            </div>
            <div class="col-md-9" style="padding:0 0 0 0px;">
              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">水池项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">个数</label>
                  <input type="email" placeholder="填写水池个数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">立方米数</label>
                  <input type="email" placeholder="填写立方米数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>
              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">水窖项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">水窖个数</label>
                  <input type="email" placeholder="请填写乡(镇)名称" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">立方米数</label>
                  <input type="email" placeholder="填写立方米数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>
              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">机水井项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">机水井个数</label>
                  <input type="email" placeholder="填写机水井个数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">投资金额</label>
                  <input type="email" placeholder="填写投资金额" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>
              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">沟渠项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">沟渠条数</label>
                <input type="email" placeholder="填写沟渠条数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">公里数</label>
                <input type="email" placeholder="填写公里数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>

              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">塘垻项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">塘垻处数</label>
                <input type="email" placeholder="填写塘垻处数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">投资金额</label>
                <input type="email" placeholder="填写投资金额" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>

              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">管网项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">管网处数</label>
                <input type="email" placeholder="填写管网处数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">公里数</label>
                <input type="email" placeholder="填写公里数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>
              
              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">堤灌站项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">堤灌站个数</label>
                <input type="email" placeholder="填写堤灌站个数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">投资金额</label>
                <input type="email" placeholder="填写投资金额" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>
              
              <div class="col-md-12" style="padding:0 5px 5px 0;border:1px dashed #3c8dbc;border-radius:5px;">
                <div class="col-md-8" style="padding:0 0 0 10px;">
                  <h3 style="text-align: center;color: #3c8dbc;">机耕道路项目</h3>
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">机耕道路条数</label>
                <input type="email" placeholder="填写机耕道路条数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
              <div class="col-md-4" style="padding:0 0 0 10px;">
                <label for="exampleInputEmail1">公里数</label>
                <input type="email" placeholder="填写公里数" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
              </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">项目编号</label>
                  <input type="email" placeholder="填写项目编号" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟草补贴资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">其他部门资金</label>
                  <input type="email" placeholder="填写烟草补贴资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">烟农自筹资金</label>
                  <input type="email" placeholder="填写烟农自筹资金" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
                <div class="col-md-4" style="padding:0 0 0 10px;">
                  <label for="exampleInputEmail1">受益面积</label>
                  <input type="email" placeholder="填写受益面积" style="border-radius:5px;" id="exampleInputEmail1" class="form-control">
                </div>
              </div>
              
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix no-border">
            <button class="btn btn-primary pull-right" style="margin-left:20px;" type="button">生成公示文档</button>
            <button class="btn btn-success pull-right" type="button">提交</button>
          </div>
        </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div id="infoModal" class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title" style="margin-left:200px;">项目申请公示</h4>
        </div>
        <div class="modal-body" style="font-size:15px;">
          <p><span style="float: left;"><u>***</u> 乡（镇） <u>***</u> 村民委员会：</span></p>
          <p style="line-height:30px;text-indent:2em;float: left;">我县烟草部门和烟叶基础办已受理 <u>***</u> 乡（镇）　<u>***</u>　村 <u>***</u> 村民小组烟农提出的关于 <u>***</u> 年度项目区内现代烟草农业基础设施建设项目的申请，其中水池 <u>***</u> 个（　<u>***</u>　立方米），水窖　<u>***</u> 个（ <u>***</u>　立方米），机（水）井　<u>***</u>　个(投资　<u>***</u>　万元)，沟渠　<u>***</u>　条( <u>***</u> 公里)，塘坝整治 <u>***</u>　处(投资 <u>***</u>　万元)，管网　<u>***</u>　处(　<u>***</u>　公里), 提灌站<u>***</u> 个(投资　<u>***</u>　万元)，机耕道路 <u>***</u> 条 <u>***</u> 公里。共需投入建设资金概算　<u>***</u>　万元，其中建设资金　<u>***</u>　万元由烟草部门按照行业有关政策给予补贴，申请项目详细情况见下表，特此公示。对不实、重复上报或虚报项目，欢迎检举揭发。</p>
          <p>举报电话：</p>
          <p>附件：项目申请明细表</p>                      
          <p><span style="margin-left:450px;">县烟叶基础办</span></p>
          <p><span style="margin-left:450px;">年 <u>***</u> 月 <u>***</u> 日</span></p>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default pull-right" type="button">关闭</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<% end %>