<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<title>烟基项目 | 管理系统登陆</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style type="text/css">
	    html,body {
	    width:100%;
	    height:100%;
	    margin:0px;
	    padding:0px;
	    overflow:hidden;
	    }
	    #Main {
	    width:100%;
	    height:100%;
	    background-image: url('/img/login.png');
	    background-size: 100% 100%;
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/login.png',  sizingMethod='scale');
	    overflow:auto;
	    }
	    #ToolBar {
	    position:absolute;
	    bottom:0px;
	    width:100%;
	    height:40px;
	    text-align:center;
	    background-image: url('/img/footer.png');
	    background-size: 100% 100%;
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/footer.png',  sizingMethod='scale');
	    overflow:hidden;
	    }
	    form {
	      position:absolute;
	      top:50%;
	      left:50%;
	      margin-left:-85px;
	      /*此时宽和高都要固定*/
	      width:500px;
	      height:500px;
	    }
	    input {
	      display: block;
	      width: 140px;
	      height: 20px;
	      padding:5px 0 0 15px;
	      color:gray;
	    }
	    button {
	      box-sizing: content-box;
	      width: 155px;
	      height: 40px;
	      padding:1px 1px;
	      border: 2px solid #e5b830;
	      background-color: #e5b830;
	      font-family: YouYuan;
	      font-weight: bold;
	      font-size: 20px;
	      color:white;
	      cursor:pointer;
	    }
	  </style>
  </head>
  <body>
	<%= yield %>
  </body>
</html>